.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px
}
.content_left{
    width: 50%;
}
.content_right{
    width: 50%;
    text-align: right;
}
