.MuiButton-containedPrimary{
    color: transparent !important;
    background-color: transparent !important;
    border-radius: 50% !important;
    height: 35px;
    min-width: 35px !important;
    background-size: contain;
}