.menu{
    display: flex;
    margin: 10px;
}

.menu__icon{
    margin:3px;
}

.menu__item{
    display: flex;
    align-items: center;
}
.menu__item .svg {
    height: 25px;
}
.menu__profile{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

    

